
body {
	font-family: "Lato", sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

.text-muted {
	color: #7d97ad;
}

h1 {
  text-align: right;
  text-transform: uppercase;
  font-weight: 100;
	font-size: 60px;
  padding-top: 30px;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

.title-description {
  text-align: right;
}

.title-logo {
  height: 100px;
	margin-top: 60px;
}

.navbar-fixed-top {
  background-color: #7d97ad;
  border: transparent;
  margin-bottom: 0;
}

p {
  text-align: center;
  padding: 5px;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  width: 100%;
}

.col-12 {
    width: 100%;
}

.hero-img {
  height: auto;
  margin: 0;
}

footer ul {
    text-align: center;
    padding: 0px;
}

footer ul li {
  list-style-type: none;
  display: inline-flex;
  margin:30px;
}

@media screen and (max-width: 550px) {

  .title-logo {
    width: 100%;
    text-align: center;
    padding-left: 10px;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .title-super {
  	font-size: 25px;
  }

  h3 {
  	font-size: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 780px) {
  .title {
  	text-align: center;
  }

  .title-super {
  	font-size: 35px;
  }

  h3 {
    font-size: 2em;
  }

  p,
  a {
    font-size: 1.75rem;
  }

  img {
  	padding-left: 32px;
  }
}
